.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0 10vw;
  box-sizing: border-box;
  overflow: hidden;

  .inline-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 24px 0;
  }

  * {
    transition: width ease-in-out 300ms,
                height ease-in-out 300ms;
  }
}


